# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Create and format tables in markdown
- Evaluate arithmetic expressions using code cells
- Convert units (e.g., minutes to hours)
- Understand basic functionalities of Jupyter Notebook

## Author

Sharvil Nichat